@media only screen and (min-width: 1200px) {

    .container {
        max-width: 95vw
    }

}

@media only screen and (max-width: 1439px) {

    header {
        padding: 0;
    }

    .gal {
        display: flex;
        flex-direction: column;
    }

    .gal img {
        margin-bottom: 5px;
        margin-right: 0;
    }
}


@media only screen and (max-width: 991px) {


    .show {
        margin-top: 20px;
    }

    .navbar-nav {
        text-align: center;
    }

    .navsmall {
        padding: 30px 50px 30px 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 768px) {


    #carouselMain {
        display: none;
    }

    #carouselMobile {
        display: block !important;
    }

    .carousel-control-next-icon {
        display: none;
    }

    .carousel-control-prev-icon {
        display: none;
    }
}


@media only screen and (max-width: 576px) {
    header {
        padding: 0;
    }


    .navsmall {
        padding: 0;
    }


    .vera h1 {
        font-size: 54px !important;
    }

    .vera a {
        font-size: 28px !important;
    }


    footer .footer_logo {
        flex-direction: column;
    }

    footer .footer_logo ul li:first-child {
        display: none;
    }

    footer .footer_logo .links ul li {
        margin-right: 11px !important;
        margin-top: 16px;
        text-align: center;
    }

    .about {
        text-align: center;
    }

    .about li {
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 426px) {

}