@import url(bootstrap.css);
* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: 'microsoft_yi_baitiregular';
  src: url("../fonts/msyi-webfont.woff2") format("woff2"), url("../fonts/msyi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
header {
  padding: 30px 120px 0 120px;
  margin-bottom: 5px; }
  header nav .fa-brands {
    margin-top: 16px;
    color: #000000; }
  header nav .vermir {
    margin-right: 45px;
    font-family: "Microsoft Yi Baiti", sans-serif;
    font-weight: 200;
    font-size: 44px; }
  header .navbar-collapse a {
    margin-right: 30px;
    font-size: 1.25rem; }

#carouselMobile {
  display: none; }

.carousel-item img {
  height: 100vh; }

body {
  background-color: #f4f2ee; }

.vera {
  width: 100%;
  position: absolute;
  bottom: 46%;
  text-align: center;
  color: #fff;
  padding-top: 25px; }
  .vera h1 {
    font-family: "Microsoft Yi Baiti", sans-serif;
    font-weight: 400;
    font-size: 120px;
    line-height: 40px;
    margin-bottom: 56px; }
  .vera a {
    margin: 15px 15px 0 15px;
    font-family: "Microsoft Yi Baiti", sans-serif;
    font-stretch: ultra-expanded;
    font-weight: 200;
    font-size: 36px;
    color: #fff; }
    .vera a:hover {
      text-decoration: solid underline white 3px;
      color: white; }

.gal {
  padding: 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: center; }
  .gal img {
    margin-right: 5px; }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 217px;
  /* Place the button at the bottom of the page */
  right: 25px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: solid 1px;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: transparent;
  /* Set a background color */
  color: #000000;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 10px 16px 10px 16px;
  /* Some padding */
  border-radius: 50%;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */ }

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */ }

.about_vera {
  display: flex;
  margin: 74px 140px 0 140px; }

.about_vera p {
  margin-top: 30px;
  margin-bottom: 41px;
  font-family: "Microsoft Yi Baiti", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 28px; }

.about_text p:nth-child(3) {
  margin-bottom: 120px; }

.about_vera img {
  margin-right: 40px; }

.getintouch {
  font-family: "Microsoft Yi Baiti", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;
  border: solid 1px #000000;
  color: #000000;
  padding: 8px;
  display: flex;
  max-width: fit-content; }

.getintouch:hover {
  color: #0f6674;
  opacity: 0.8;
  text-decoration: none; }

.feedback {
  display: flex;
  margin: 0 140px 0 140px; }

.feedback img {
  margin-right: 40px; }

.feedback_text {
  margin-bottom: 20px; }

.feedback p {
  margin-bottom: 8px;
  font-family: "Microsoft Yi Baiti", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px; }

.feedback p:nth-child(1) {
  margin-bottom: 20px; }

.feedback_form {
  display: flex;
  flex-direction: column; }

.footer_line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 28px; }

footer {
  padding-top: 3rem;
  padding-bottom: 2rem; }

footer .footer_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px; }
  footer .footer_logo .logo {
    font-size: 38px; }

footer .footer_logo a {
  color: #000;
  font: 18px 'Microsoft Yi Baiti', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration-thickness: from-font;
  text-decoration: none; }

.contacts {
  display: flex; }

footer .footer_logo .links ul li {
  color: #000;
  font: 14px 'Microsoft Yi Baiti', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  list-style: none;
  padding-left: 22px;
  padding-top: 30px; }

footer .footer_logo .links ul a {
  text-decoration: none; }

footer .footer_logo .about ul li {
  text-decoration-thickness: from-font;
  list-style: none; }
