@import "bootstrap.css";


* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'microsoft_yi_baitiregular';
  src: url('../fonts/msyi-webfont.woff2') format('woff2'),
  url('../fonts/msyi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


header {
  padding: 30px 120px 0 120px;
  margin-bottom: 5px;

  nav {
    .fa-brands {
      margin-top: 16px;
      color: #000000;
    }

    .vermir {
      margin-right: 45px;
      font-family: "Microsoft Yi Baiti", sans-serif;
      font-weight: 200;
      font-size: 44px;
    }
  }

  .navbar-collapse {
    a {
      margin-right: 30px;
      font-size: 1.25rem;
    }
  }
}

#carouselMobile {
  display: none;
}

.carousel-item img {
  height: 100vh;
  //height: auto;
  max-width: 100%;
}

body {
  background-color: #f4f2ee;
  height: 100vh;
}

.vera {
  width: 100%;
  position: absolute;
  bottom: 46%;
  text-align: center;
  color: #fff;
  padding-top: 25px;

  h1 {
    font-family: "Microsoft Yi Baiti", sans-serif;
    font-weight: 400;
    font-size: 110px;
    line-height: 40px;
    margin-bottom: 56px;
  }

  a {
    margin: 15px 15px 0 15px;
    font-family: "Microsoft Yi Baiti", sans-serif;
    font-stretch: ultra-expanded;
    font-weight: 200;
    font-size: 36px;
    color: #fff;

    &:hover {
      text-decoration: solid underline white 1px;
      color: white;
    }
  }
}

.gal {
  padding: 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;

  img {
    margin-right: 5px;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 217px; /* Place the button at the bottom of the page */
  right: 25px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: solid 1px; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: #000000; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px 16px 10px 16px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.about_vera {
  display: flex;
  margin: 0 140px 11vh 140px;
}

.about_text p {
  //margin-bottom: 15px;
  font-family: "Microsoft Yi Baiti", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: left;
}

.about_text p:nth-child(3) {
  margin-bottom: 30px;
}

.about_text p:nth-child(6) {
  margin-bottom: 30px;
}

.about_vera img {
  margin-top: 7px;
  margin-right: 40px;
  //margin-bottom: 40px;
}

.getintouch {
  font-family: "Microsoft Yi Baiti", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 20px;
  border: solid 1px #000000;
  border-radius: 10px;
  color: #000000;
  padding: 8px;
  display: flex;
  max-width: fit-content;
  margin: 20px 0 20px 0;
}

.getintouch:hover {
  color: #0f6674;
  opacity: 0.8;
  text-decoration: none;
}

.feedback {
  display: flex;
  margin: 0 140px 11vh 140px;
}

.feedback img {
  margin-top: 7px;
  margin-right: 40px;
}

.feedback_text {
  margin-bottom: 10px;
}

.feedback p {
  margin-bottom: 5px;
  font-family: "Microsoft Yi Baiti", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
}

.feedback p:nth-child(1) {
  margin-bottom: 10px;
}

.feedback_form {
  display: flex;
  flex-direction: column;
  //padding: 0 30px;
}

label {
  margin-bottom: 0;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #111;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f4f2ee;
  left: 0;
  top: 0;
  border-radius: 9px;
  border: solid 1px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.footer_line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 28px;
}

footer {
  padding-top: 2rem;
  //padding-bottom: 1rem;
}

footer .footer_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;

  .logo {
    font-size: 38px;
  }
}

footer .footer_logo a {
  color: #000;
  font: 18px 'Microsoft Yi Baiti', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-decoration-thickness: from-font;
  text-decoration: none;
}

.contacts {
  display: flex;
}

footer .footer_logo .links ul li {
  color: #000;
  font: 14px 'Microsoft Yi Baiti', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  list-style: none;
  padding-left: 22px;
  padding-top: 30px;
}


footer .footer_logo .links ul a {
  text-decoration: none;
}

footer .footer_logo .about ul li {
  text-decoration-thickness: from-font;
  list-style: none;
}

